$left-color: #242e4d;
$right-color: #897e79;
$green-dark: #35c3c1;
$green-light: #00d6b7;
$gray: #8f8f8f;
$gray-light: #f5f6f8;

.nav-background{
    direction: ltr;
    background: linear-gradient(
        135deg,
        rgba($left-color, 0.9),
        rgba($right-color, 0.9)
      );

    .navbar-brand{
        color: #ffffff;
        text-shadow: 0 1px 0 #eeecef;
        padding: 5px 15px;
    }
    .nav-item{
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
        padding: 5px 10px;
        text-decoration: none;
        cursor: pointer;
    }

    .nav-container{
        align-items: center;
        width: 100%;
    }
}